$black:#000000;
$blue:#2f6fa3;
$carddark:#424242;
$cardlight:#f1f1f1;
$cardlightalt:#ececec;
$textmidgrey:#5c5c5c;
$textdarkgrey:#252525;
$textlightgrey:#c7c7c7;
$lg:1150px;
$xlg:1290px;
$md:900px;
$sm:500px;