@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap');

@import 'config','one','two','three','card';

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    min-height: 100vh;
    font-family: 'Livvic', sans-serif;
}
.app{
    @media(max-width:$xlg){
        padding: 0;
    }
    @media(max-width:$lg){
      grid-template-columns: 0.8fr 0.2fr;  
    }
    @media(max-width:$md){
        flex-direction: column;
    }

    padding: 1rem;
    display: flex;
    overflow: hidden;
    gap: 1rem;
    
}

